@import "tailwindcss";

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';



:root {

  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply text-base leading-relaxed;
  }
}
@layer base {
  .bg-primary {
    @apply bg-gradient-to-r from-[#ff3f3f] to-[#fdb07d];
  }
  .text-primary {
    @apply text-white;
  }
  .text-secondary {
    @apply text-black;
  }

 .paraGraph{
    @apply  w-full text-2xl lg:text-5xl text-gray-600 mx-auto;
  }

  .paraGraph_card{
    @apply text-gray-600 mx-auto;
  }

.intro_title_h1{
 
    @apply text-emerald-800  lg:text-7xl md:text-7xl text-4xl font-bold;
  

}
}

@layer utilities {




}
@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-[#fdac7d6c] text-white;
  }
  .btn-blue:hover {
    @apply text-white bg-emerald-600 cursor-pointer;
  }
}



/* styles/globals.css or your component-specific CSS file */

/* .review-carousel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
} */

/* .review-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.review-text {
  font-style: italic;
  font-size: 18px;
  color: #555;
}

.reviewer-name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.review-rating {
  margin-top: 10px;
  color: #ffbc00;
}

.star {
  font-size: 20px;
}
