@import "tailwindcss";

@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';



@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply text-base leading-relaxed;
  }

 .bg-primary {
  @apply bg-[#f4f7f0] 
}

.bg-footer{

  @apply bg-[#101828] 
}
  .text-primary {
    @apply text-[#3b3c3a]  max-sm:text-4xl lg:text-9xl md:text-7xl font-extrabold dark:text-white  from-neutral-500;
    
  }
 .paraGraph{
    @apply  w-full sm:text-2xl lg:text-5xl text-gray-600 mx-auto;
  }

  .paraGraph_card{
    @apply text-gray-600 mx-auto;
  }

.intro_title_h1{
 
    @apply text-[#0F766E]  lg:text-7xl md:text-7xl text-4xl font-bold;
  

}


.shadow-glass {
  box-shadow: 0 10px 30px rgba(255, 109, 153, 0.25);
}

.bgSecondary {
  @apply bg-[#f4f7f0] 
}

.bgFooter {
  @apply bg-[#296d20] 
}

.text-primaryColor{
  @apply text-[#3b3c3a] 
}
.text-secondaryColor{
  @apply text-[#94c159] 
}

.text-paragraph{
  @apply text-[#a9aba6] 
}

.text-paragraph2{
  @apply text-[#d8ddd1] 
}
.chatBot-color{
  @apply text-[#49b93b] 
}

.illaramPrimary {
  @apply text-[#f4f7f0] 
}

  .illaramAccent {
    @apply text-[#FF5F37] 
  }

  .bgillaramPrimary {
    @apply text-[#FF5F37] 
  
  
  }

.bgillaramPrimary {
  @apply bg-[#f4f7f0]


}
.illaramText {
  @apply text-gray-500
}
}

@layer utilities {

.text-secondary{
    @apply  max-sm:text-[17px] lg:text-2xl md:text-[20px] font-bold;
    
  }
}
@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-[#ff5f37] text-white font-bold py-3 px-6 rounded-full transition duration-300;
  }
  .btn-blue:hover {
    @apply text-white bg-[#ff4437] cursor-pointer;
  }
}

/* globals.scss */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;


}
.animate-marquee:hover {
  animation-play-state: paused;
}
/* styles/globals.scss or your component-specific CSS file */

/* .review-carousel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
} */

/* .review-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.review-text {
  font-style: italic;
  font-size: 18px;
  color: #555;
}

.reviewer-name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.review-rating {
  margin-top: 10px;
  color: #ffbc00;
}

.star {
  font-size: 20px;
}
